/*  your css code here. If applicable */
 .container {
          display: flex;
	 gap:5px;
          width: 600px;
          height: 300px;
        }
        .panel {
          width: 10%;
          background-size: cover;
          background-position: center;
			border-radius:30px;
          cursor: pointer;
          display: flex;
          align-items: flex-end;
          color: white;
          padding: 10px;
          font-size: 20px;
          transition: width 0.5s ease-in-out;
        }

        .active {
          width: 50%;
        }

        .panel .img-text {
            display: none;
        }

        .active .img-text {
        display: block;
        }